.header {
  background-color: var(--dark-bg);
  color: var(--header-text);
  /*   min-height: 695px; */
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url(./../../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}

.header__wrapper {
  padding: 0 15px;
  max-width: 660px;
}

.header__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}

.header__title strong {
  font-size: 60px;
}

.header__title em {
  font-style: normal;
  color: var(--accent);
}

.header__text {
  margin-bottom: 40px;
  font-size: 19px;
  line-height: 1.33;
}

.header__text p + p {
  margin-top: 0.5em;
}

.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;
  transition: opasity 0.2s ease-in;
  margin: 0.5rem 0.5rem 0 0;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: 1px;
}

@media (max-width: 620px) {
  .header {
    min-height: unset;
  }

  .header__title {
    font-size: 30px;
  }

  .header__title strong {
    font-size: 40px;
  }
}
